header, footer {
    background-color: rgb(136, 128, 209) ;
    color : blanchedalmond;
    
}

header {
    img {
        max-width: 100px!important;
    }
    height: 70px;
}
footer {
    img {
        max-width: 80px!important;
    }
    height: 50px;
}
body {
    .container-body {
        min-height: calc(100vh - 148.3px);
    }
    .container {
        width: 100%;
        
    }
    .container-info {
        min-height: calc(100vh - 100px);
    }
    h4 {
        color : rgb(136, 128, 209);
    }
    
    background-color: #c5d6ee;
    #p1, #p2, #p3, #p4, #p5 {
        display: none;
    }
}